.outer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1) inset;
  box-sizing: border-box;
  height: 20px;
  padding: 5px;
  margin: 0 auto;
  overflow: hidden;
  width: 400px;
}

.inner {
  background-color: hotpink;
  border-radius: 6px;
  height: 100%;
  transition: 300ms width ease-out;
}
